[submodule "third_party/kineto"]
	path = third_party/kineto
	url = https://github.com/MooreThreads/kineto.git
[submodule "third_party/mutlass"]
	path = third_party/mutlass
	url = https://github.com/MooreThreads/mutlass.git
	branch = develop
