# Python dependencies required for development
cmake==3.25.2
cffi==1.15.1
ninja==1.11.1
mkl==2023.0.0; platform_machine == "x86_64"
mkl-include==2023.0.0; platform_machine == "x86_64"
mkl-devel==2023.0.0; platform_machine == "x86_64"
openpyxl~=3.1.2
setuptools>=60.2.0
pyahocorasick==2.0.0
scipy==1.10.1
cmake_format==0.6.13
pre-commit==3.5.0
black==23.12.1
packaging
pytest==8.2.2
# torch_musa.utils required
tqdm==4.66.2
libcst==1.1.0
